<!doctype html>


<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http:/www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/x-icon" href="/favicon.ico">
<link rel="stylesheet" th:href="@{static/css/all.min.css}">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">
<link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/sb-admin-2/sb-admin-2.min.css}">

<link rel="stylesheet" th:href="@{/css/cover.css}">
        <title>Detalle - PQRS</title>
    </head>
    <body class="">

        <div class="container d-block p-3">
            <header class="masthead mb-5">
                <div class="inner">
                    <h3 class="masthead-brand">PQRS - UFPS</h3>
                    <nav class="nav nav-masthead justify-content-center">
                    <a class="nav-link active" th:href="@{/}">Inicio</a>
                        <a class="nav-link" th:href="@{/solicitud/consultar}">Consultar</a>
                        <a class="nav-link" th:href="@{/solicitud/registrar}">Registrar PQRS</a>
                         <a class="nav-link" th:href="@{/registrarUsuario}">Registrar Usuario</a>

                        <a class="nav-link" th:href="@{/login}">Iniciarsesión</a>
                    </nav>
                </div>
            </header>

            <div class="container">

                <div class="card shadow mb-4">
                    <div class="card-header py-3">

                        <h6 class="m-0 font-weight-bold text-primary">Detalle de PQRS</h6>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label>Tipo de Usuario</label>
                                        <div  th:text="${usuario.tipoUsuario}" class="form-control" disabled="true" readonly="true"></div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label>Tipo de Identificación</label>
                                         <div  th:text="${usuario.tipoIdentificacion}" class="form-control" disabled="true" readonly="true"></div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Identificación</label>
                                       <div  th:text="${usuario.identificacion}" class="form-control" disabled="true" readonly="true"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label>Primer Nombre</label>
                                        <div  th:text="${usuario.primerNombre}" class="form-control" disabled="true" readonly="true"></div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label>Segundo Nombre</label>
                                        <div  th:text="${usuario.segundoNombre}" class="form-control" disabled="true" readonly="true"></div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label>Primer Apellido</label>
                                         <div  th:text="${usuario.primerApellido}" class="form-control" disabled="true" readonly="true"></div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label>Segundo Apellido</label>
                                        <div  th:text="${usuario.segundoApellido}" class="form-control" disabled="true" readonly="true"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Celular</label>
                                      <div  th:text="${usuario.direccion}" class="form-control" disabled="true" readonly="true"></div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Correo</label>
                                       <div  th:text="${usuario.direccion}" class="form-control" disabled="true" readonly="true"></div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="form-group">
                                        <label>Dirección</label>
                                       <div  th:text="${usuario.direccion}" class="form-control" disabled="true" readonly="true"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label>Asignada a</label>
                                        <input type="text"  class="form-control" disabled="true" readonly="true">
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label>Tipo de Solicitud</label>
                                        <div  th:text="${solicitud.tipoSolicitud}" class="form-control" disabled="true" readonly="true"></div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label>Motivo</label>
                                        <div th:text="${solicitud.motivoSolicitud}" class="form-control" disabled="true" readonly="true" >  </div>
                                    </div>
                                </div>
                            </div>
                            

                            <div class="form-row">
                                <div class="col-lg-12">
                                    <div class="form-group">
                                        <label>Solicitud</label>
                                        <div class="form-control" disabled="true" readonly="true" th:text="${solicitud.descripcion}" ></div>
                                    </div>
                                </div>
                            </div>                

                            <div class="form-row">                                        
                                <div class="col-lg-3">
                                    <div class="form-group">
                                        <label>Fecha de solicitud</label>
                                        <div type="text" th:text="${solicitud.fechaRegistro}" class="form-control"  > </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div   class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Respuesta de PQRS</h6>
                    </div>
                    <div class="card-body">    
                        
                        <div class="form-row">

                            <div class="col-lg-3">
                                <div class="form-group">
                                    <label>Fecha de Respuesta</label>
                                   <div type="text" th:text="${solicitud.fechaRespuesta}" class="form-control"  > </div>
                                </div>
                            </div>
                            

                        </div>
                        <div class="form-row">   

                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Respuesta </label>
                                    <div class="form-control" disabled="true" readonly="true" th:text="${solicitud.respuesta}" ></div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        


    </body>
</html>
